<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stonehill</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
</head>

<body>
    <ion-header>
        <ion-toolbar color="danger">
            <ion-title>
                <ion-row>
                    <a href="../html/index.html" style="text-decoration: none; color: white;">stonehillHack.</a>
                </ion-row>
            </ion-title>
            <ion-buttons slot="secondary">
                <ion-button href="../html/discussion.html">
                    <ion-icon slot="icon-only" name="chatbox-outline"></ion-icon>
                </ion-button>

                <ion-buttons slot="primary">
                    <ion-button href="../php/placeholders/logout.php?logout='true'">
                        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
                    </ion-button>
                </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>

</body>

</html>